@model SistemaCred9.Web.UI.ViewModels.Tarefa.TarefaIndexViewModel
@using System.Configuration;

@{
    ViewBag.TitleSmall = "Tarefas - " + Model.StatusAtual;
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <b>Clientes</b>
            </div>
            <div class="box-body no-padding" style="display: block;">
                <ul class="nav nav-pills nav-stacked">

                    @Html.MenuItem("Tarefas Sem Usuario", "Index", "Tarefa",
                        new { @statusTarefaId = Model.StatusIdAtual, @opcaoProprietarioSelecionado = 1 },
                        (1 == Model.OpcaoProprietarioSelecionado))

                    @Html.MenuItem("Tarefas Com Usuario", "Index", "Tarefa",
                            new { @statusTarefaId = Model.StatusIdAtual, @opcaoProprietarioSelecionado = 2 },
                            (2 == Model.OpcaoProprietarioSelecionado))

                    @Html.MenuItem("Minhas Tarefas", "Index", "Tarefa",
                            new { @statusTarefaId = Model.StatusIdAtual, @opcaoProprietarioSelecionado = 3 },
                            (3 == Model.OpcaoProprietarioSelecionado))

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tarefas no momento</h3>
            </div>
            <div class="box-body">

                <table id="usuarios" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Codigo Cliente</th>
                            <th>Contrato</th>
                            <th>Usuário</th>
                            <th>Data de Lançamento</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contratos)
                        {
                            <tr>
                                <td>@item.ClienteId</td>
                                <td>@item.NumContrato</td>
                                <td>
                                    @if (item.Usuario != null)
                                    {
                                        @item.Usuario.NomeUsuario;
                                    }
                                    else
                                    {
                                        <b>-</b>
                                    }
                                </td>
                                <td>@item.DataLancamento.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (Model.OpcaoProprietarioSelecionado == 1)
                                    {
                                        @Html.ActionLink("Assumir", "AssumirTarefa", "Tarefa",
                                            new { @statusTarefaId = Model.StatusIdAtual, @numContrato = item.NumContrato },
                                            new { @class = "btn btn-primary btn-xs" })
                                    }
                                    else if (Model.OpcaoProprietarioSelecionado == 3)
                                    {
                                        @Html.ActionLink("Devolver", "DevolverTarefa", "Tarefa",
                                            new { @statusTarefaId = Model.StatusIdAtual, @numContrato = item.NumContrato },
                                            new { @class = "btn btn-danger btn-xs" })
                                    }
                                </td>
                                <td>
                                    @foreach (var mud in Model.StatusMudanca)
                                    {
                                        var server = ConfigurationManager.AppSettings["ServerPanorama"];
                                        var strHref = "http://@server/tarefa.do?action=incluirNovoStatus&codigo=@statusTarefaId&idTarefaExecucao=@idTarefaExecucao";
                                        strHref = strHref.Replace("@server", server);
                                        strHref = strHref.Replace("@statusTarefaId", mud.Id.ToString());
                                        strHref = strHref.Replace("@idTarefaExecucao", item.StatusTarefaExecucaoId.ToString());

                                        <a href="@strHref">@mud.Descricao</a>

                                        @*@Html.ActionLink(mud.Descricao, "MudarStatus", "Tarefa",
                                            new { @contratoId = item.NumContrato, @statusTarefaId = mud.Id },
                                            new { @class = "btn btn-default btn-xs", @style = "margin: 5px;" })*@
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Codigo Cliente</th>
                            <th>Contrato</th>
                            <th>Usuário</th>
                            <th>Data de Lançamento</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

@section scripts
{
    <link href="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#usuarios').DataTable({
                language: {
                    "url": 'http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json'
                }
            });
        });
    </script>
}
