@model SistemaCred9.Web.UI.ViewModels.Financeiro.FinanceiroIndexViewModel

@{
    ViewBag.Title = Model.Titulo;
    ViewBag.TitleSmall = "Financeiro";
}

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Importar Contratos", "Importar", "Financeiro", new { @class = "btn btn-primary btn-block margin-bottom" })
    </div>

    @if ((Model.Menu == 1 || Model.Menu == 5) && Model.ListaContratos.Count > 0)
    {
        <div class="col-md-2">
            <input type="button" id="btnValidar" name="btnValidar" value="Validar Contratos" class="btn btn-success btn-block margin-bottom" />
        </div>
    }

    @if ((Model.Menu == 1 || Model.Menu == 3) && Model.ListaContratos.Count > 0)
    {
        <div class="col-md-2">
            <input type="button" id="btnPendente" name="btnPendente" value="Colocar em Pendência" class="btn btn-warning btn-block margin-bottom" />
        </div>
    }

    @if ((Model.Menu != 4) && Model.ListaContratos.Count > 0)
    {
        <div class="col-md-2">
            <input type="button" id="btnExcluir" name="btnExcluir" value="Excluir Contratos" class="btn btn-danger btn-block margin-bottom" />
        </div>
    }

</div>

<div class="row">

    <div class="col-md-2">

        <div class="box box-solid">
            <div class="box-header with-border">
                <b>Contratos</b>
            </div>
            <div class="box-body no-padding" style="display: block;">
                <ul class="nav nav-pills nav-stacked">
                    @Html.MenuItem("Com pagamentos", "Index", "Financeiro", new { @menu = 1 }, (Model.Menu == 1))
                    @Html.MenuItem("Sem pagamentos", "Index", "Financeiro", new { @menu = 2 }, (Model.Menu == 2))
                    @Html.MenuItem("Validados", "Index", "Financeiro", new { @menu = 3 }, (Model.Menu == 3))
                    @Html.MenuItem("Pgtos sem contrato", "Index", "Financeiro", new { @menu = 4 }, (Model.Menu == 4))
                    @Html.MenuItem("Pendentes", "Index", "Financeiro", new { @menu = 5 }, (Model.Menu == 5))
                </ul>
            </div>
        </div>

    </div>


    <div class="col-md-10">

        @using (Html.BeginForm("Index", "Financeiro", FormMethod.Post, new { id = "formContratos", name = "formContratos" }))
        {

            @Html.HiddenFor(x => x.AcaoForm)
            @Html.HiddenFor(x => x.Menu)

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Contratos</h3>
                </div>
                <div class="box-body">

                    <table id="contratos" class="table table-bordered table-striped">

                        @if (Model.Menu != 4)
                        {
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>CPF</th>
                                    <th>Contrato</th>
                                    <th>Tabela</th>
                                    <th>Cliente</th>
                                    <th>Data Lançamento</th>
                                    <th>Percentual Comissão</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ListaContratos.Count; i++)
                                {
                                    var item = Model.ListaContratos[i];
                                    <tr>
                                        @Html.HiddenFor(x => x.ListaContratos[i].Id)


                                        <td>@Html.EditorFor(x => x.ListaContratos[i].Selecionado)</td>
                                        <td>@item.Cpf</td>
                                        <td>@item.Contrato</td>
                                        <td>@item.Tabela</td>
                                        <td>@item.NomeCliente</td>
                                        <td>@item.DataLancamento.ToString("dd/MM/yyyy")</td>
                                        <td>@item.PercentualComissaoCalculado.ToString().Replace(",", ".")</td>
                                        <td>
                                            @Html.ActionLink("Ver", "VerContrato", "Financeiro", new { @entidadeId = item.Id }, new { @class = "btn btn-primary btn-xs", @target = "_blank" })
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>CPF</th>
                                    <th>Contrato</th>
                                    <th>Tabela</th>
                                    <th>Cliente</th>
                                    <th>Data Lançamento</th>
                                    <th>Percentual Comissão</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        }
                        else
                        {
                            <thead>
                                <tr>
                                    <th>Contrato</th>
                                    <th>Cliente</th>
                                    <th>CPF</th>
                                    <th>Tabela</th>
                                    <th>Percentual Comissão</th>
                                    <th>Data Comissão</th>
                                    <th>Tipo Planilha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaContratoPagamento)
                                {
                                    <tr>
                                        <td>@item.Contrato</td>
                                        <td>@item.NomeCliente</td>
                                        <td>@item.Cpf</td>
                                        <td>@item.Tabela</td>
                                        <td>@item.PercentualComissao</td>
                                        <td>@item.DataComissao</td>
                                        <td>@item.TipoPlanilha</td>
                                        <td>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Contrato</th>
                                    <th>Cliente</th>
                                    <th>CPF</th>
                                    <th>Tabela</th>
                                    <th>Percentual Comissão</th>
                                    <th>Data Comissão</th>
                                    <th>Tipo Planilha</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        }
                    </table>

                </div><!-- /.box-body -->
            </div>
        }

    </div>

</div>

@section scripts
{
    <link href="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#contratos').DataTable({
                language: {
                    "url": 'http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json'
                },
                pageLength: 100,
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'excel'
                ]
            });

            $('#btnValidar').click(function () {
                $('#AcaoForm').val(1);
                $('#formContratos').submit();
            });

            $('#btnPendente').click(function () {
                $('#AcaoForm').val(2);
                $('#formContratos').submit();
            });

            $('#btnExcluir').click(function () {
                $('#AcaoForm').val(3);
                $('#formContratos').submit();
            });

        });
    </script>
}
