@model SistemaCred9.Web.UI.ViewModels.Especie.EspecieViewModel

@{
    ViewBag.TitleSmall = "Editar Espécie";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Informe os dados da Espécie</h3>
            </div>
            @using (Html.BeginForm("Editar", "Especie", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(true)

                    <div class="form-horizontal">

                        @Html.HiddenFor(model => model.Id)

                        @* Campo Nome *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.CodEspecie, htmlAttributes: new { @class = "control-label col-md-3" })

                            <div class="col-md-9">
                                @Html.EditorFor(model => model.CodEspecie,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Código da Espécie",
                                        }
                                })
                                @Html.ValidationMessageFor(model => model.CodEspecie)
                            </div>
                        </div>

                        @* Campo Nome Usuario *@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-3" })

                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Descricao,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Descrição",
                                        }
                                })
                                @Html.ValidationMessageFor(model => model.Descricao)
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Salvar" class="btn btn-success" />
                        <input type="reset" value="Limpar" class="btn btn-warning" />
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info pull-right" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}