@model SistemaCred9.Web.UI.ViewModels.Filtro.FiltroViewModel

@{
    ViewBag.TitleSmall = "Editar Filtro";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Informe os dados do Filtro</h3>
            </div>
            @using (Html.BeginForm("Editar", "Filtro", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(true)

                    <div class="form-horizontal">

                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">

                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Descricao,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Descrição",
                                        }
                                })
                                @Html.ValidationMessageFor(model => model.Descricao)
                            </div>

                            <div class="col-md-5">
                                @Html.LabelFor(model => model.CodAgrupamento, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.CodAgrupamento,
                                    new SelectList(Model.ListaAgrupamentos, "Id", "Descricao"), new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.CodAgrupamento)
                            </div>

                            <div class="col-md-2">
                                @Html.LabelFor(model => model.LimiteRegistros, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.LimiteRegistros,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Qtd max de registros buscados",
                                        }
                                })
                                @Html.ValidationMessageFor(model => model.LimiteRegistros)
                            </div>

                            <div class="col-md-2">
                                @Html.LabelFor(model => model.MinDataNascimento, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.MinDataNascimento,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @placeholder = "2020-01-01",
                                        }
                                })
                                @Html.ValidationMessageFor(model => model.MinDataNascimento)
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Salvar" class="btn btn-success" />
                        <input type="reset" value="Limpar" class="btn btn-warning" />
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info pull-right" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
